flask~=2.2.3
flask_sqlalchemy
flask_session
flask-qrcode
flask-login
flask-moment
flask-paranoid
flask-bcrypt
flask-cors
flask_marshmallow
gunicorn
python-dateutil
python-dotenv
marshmallow-sqlalchemy
psycopg2-binary
qrcode[pil]
qrcode
redis
sqlalchemy~=2.0.5.post1
flask_wtf
flask_mail
itsdangerous
Werkzeug
Pillow