flask
flask_sqlalchemy
flask_session
flask-qrcode
flask-login
flask-moment
flask-paranoid
flask_mail
flask-bcrypt
flask-cors
flask_marshmallow
Flask-WTF
gunicorn
python-dateutil
python-dotenv
marshmallow-sqlalchemy
psycopg2-binary
qrcode[pil]
qrcode
redis
sqlalchemy
